*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --negro: #1e2326;
    --gris: #252a2e;
    --verde: #1cb698; 
    --blanco: #FFF;
    --hospital-green: #ACD9B2;
    --sm: 1.6rem;
    --md: 1.8rem;
    --lg: 2.0rem;
    --xg: 3.0rem;
}
html{
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.header{
    background: var(--negro);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.header div .logo a{
    font-size: var(--xg);
    font-weight: 700;
    color: var(--verde);
    text-decoration: none;
}
.header div{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.header div ul{
    font-size: var(--sm);
    display: flex;
    list-style: none;
}
.header div ul li a{
    text-align: none;
    color: var(--blanco);
    margin: 0px 15px ;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.header div ul li a:hover{
    color: var(--verde);
}
.menu_nav i{
    font-size: var(--md);
    background-color: var(--verde);
    color: var(--blanco);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/*first part*/
.first_part{
    background: linear-gradient(to top, rgba(30,35,38,1),rgba(30,35,38,.7) ),
    url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2020/04/programacion-1917283.jpg);
    background-size: cover;
    height: 100vh;
    color: var(--blanco);
    align-items: center;
}
.first_part .container_banner{   
    padding: 20px;
    background-color: var(--negro);
    max-width: 350px;
    margin: 81px auto auto auto;
    text-align: center;
    border-radius: 40px;
}
.first_part .container_banner img{
    border: 10px solid var(--verde);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.first_part .container_banner h1{
    margin-top: 40px;
    font-size: var(--xg);

}
.first_part .container_banner h2{
    font-size: var(--sm);
    font-weight: normal;
}
.first_part .container_banner .social_networks a{
    color: var(--blanco);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--blanco);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: var(--lg);    
    transition: .3s;
}
.first_part .container_banner .social_networks a:hover{
    background-color: var(--verde);
}
.know_me{
    background-color: var(--negro);
    color: var(--blanco);
    padding: 50px 20px;
}
.know_me .container_knowme{
    font-size: var(--sm);
    max-width: 1100px;
    margin: auto;
}
.know_me h2{
    font-size: var(--xg);
    text-align: center;
    padding: 20px 0;
}   
.know_me .container_knowme p{
    font-size: var(--md);
    line-height: 22px;
    margin-bottom: 20px;
}
.know_me .container_knowme p span{
    color: var(--verde);
    font-weight: bold;
}
.know_me .row{
    display: flex;
}
.know_me .row .col{
    width: 50%;
}
.know_me .row .col h3{
    font-size: var(--lg);
    margin-bottom: 25px;
}
.know_me .row .col ul{ 
    list-style: none;
}
.know_me .row .col ul li{
    margin: 12px 0;
}
.know_me .row .col ul li strong{
    display: inline-block;
    color: var(--verde);
    width: 130px;
}
.know_me .row .col ul li span{
    background-color: var(--verde);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.know_me .row .col .container_interest{
    display: flex;
    flex-wrap: wrap;
}
.know_me .row .col .container_interest .hobbies{
    width: 100px;
    height: 100px;
    background-color: var(--gris);
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.know_me .row .col .container_interest .hobbies:hover {
    background-color: var(--verde);
}
.know_me .row .col .container_interest i{
    font-size: var(--xg);
    margin-bottom: 10px;
}
.know_me button{
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--blanco);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: var(--md);
    color: var(--blanco);
    position: relative;
    z-index: 10;
}
.know_me button a{
    color: var(--blanco);
    text-decoration: none;
}
.know_me button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--verde);
    z-index: -1;
    transition: 1s;
}
.know_me button:hover .overlay{
    width: 100%;
}
.curriculum{
    background-color: var(--negro);
    color: var(--blanco);
    padding: 50px 20px;
}
.curriculum .container_cv{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: var(--xg);
    text-align: center;
    padding: 20px 0;
}
.curriculum .row{
    display: flex;
    justify-content: space-between;

}
.curriculum .row .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .row .col h3{
    font-size: var(--lg);
    margin-bottom: 25px;
}
.curriculum .row .left{
    border-right: 2px solid var(--gris);
}
.curriculum .row .rigth{
    border-left:  2px solid var(--gris);
}
.curriculum .row .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: var(--gris);
    position: relative;
}
.curriculum .row .item h4{
    font-size: var(--md);
    margin-bottom: 10px;
}
.curriculum .row .item .home{
    color: var(--verde);
    font-size: var(--md);
    font-weight: bold;
    display: block;
}
.curriculum .row .item .date{
    display: block;
    color: var(--verde);
    margin-bottom: 10px;
    font-size: var(--sm);
}
.curriculum .row .col .left{
    border-right: 2px solid var(--verde);
    margin-right: 20px;
}
.curriculum .row .col .rigth{
    border-left: 2px solid var(--verde);
    margin-left: 20px;
}
.curriculum .row .item .connector1{
    height: 2px;
    background-color: var(--verde);
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .row .item .connector1 .circle1{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--verde);
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .row .item .connector2{
    height: 2px;
    background-color: var(--verde);
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .row .item .connector2 .circle2{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--verde);
    float: left;
    position: relative;
    bottom: 4px;
}
/* seccion portafolio */ 
.portfolio{
    background-color: var(--negro);
    color: var(--blanco);
    padding: 50px 20px;
}
.portfolio .container_portfolio{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: var(--xg);
    text-align: center;
    padding: 20px 0;
}
/* seccion de contacto */ 
.contact{
    background-color: var(--negro);
    color: var(--blanco);
    padding: 50px 20px;
}
.contact .container_contact{
    max-width: 1100px;
    margin: auto;
}
.contact h2{
    font-size: var(--xg);
    text-align: center;
    padding: 20px 0;
}
.contact .row {
    display: flex;
    justify-content: center;
}
.contact .row form{
    width: 70%;
    padding: 10px;
    position: relative;
}
.contact .row form h3{
    font-size: var(--lg);
    margin-bottom: 20px;
}
.contact .row form input, .contact .row form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--gris);
    color: var(--blanco);
    font-size: var(--md);
}
.contact .row form button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--blanco);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: var(--sm);
    color: var(--blanco);
    position: relative;
    z-index: 10;
}
.contact .row form button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--verde);
    z-index: -1;
    transition: 1s;
}
.contact .row form button:hover .overlay{
    width: 100%;
}
footer{
    background-color: var(--gris);
    color: var(--blanco);
    padding: 20px 0 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .social_networks{
    margin-bottom: 20px;
}
footer .social_networks a{
    color: var(--blanco);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--blanco);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: var(--lg);    
    transition: .3s;
}
.top{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--verde);
    color: var(--blanco);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: var(--md);
}

@media (max-width:980px){
    .header div{
        margin: 0;
        display: flex;
    }
    nav{
        display:none;
    }
    .menu_nav i{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: var(--negro);
        width: 140px;
        opacity: .9;
    }
    nav.responsive ul{
        display: block;
    }
    nav.responsive ul li{
        border-bottom: 1px solid var(--blanco);
        padding: 10px 5px;
        
    }
    @media (max-width: 700px) {
        
        .know_me .row{
            display: block;
        }
        .know_me .row .col{
            width: fit-content;
        }
        .curriculum .row{
            display: block;
        }
        .curriculum .row .col{
            width: 90%;
        }
        .curriculum .row .rigth{
            margin-left: 20px;
        }
        /*portafolio*/
        
    }
    
}